body {
    background-color: black;
}

.linha {
    display: table;
}

.celula {
    display: table-cell;
    width: 20px;
    height: 5px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#canvas {
    margin: 100px auto auto auto;
    width: max-content;
}